<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Paula Grzesiak</span> and I have creative ideas</h2>
      <a class="btn right" href="#">View my Work</a>
    </div>
  </div>
</div>
